meta(name="description", content="MudateYa")
meta(name="keywords", content="mudanzas, propiedades, venta, compra, muebles")
meta(name="author", content="Estudio Hybris, nataliagiannantonio@gmail.com")
meta(name="copyright", content="Estudio Hybris")
meta(name="robots", content="noindex,nofollow")
meta(name="url", content="http://www.estudiohybris.com.ar/")
meta(name="geo.placename", content="Buenos Aires")
meta(name="geo.region", content="AR")
link(rel="canonical", href="http://www.estudiohybris.com.ar/")
meta(property="og:locale", content="es_AR")
meta(property="og:url", content="http://www.estudiohybris.com.ar/")
meta(property="og:type", content="website")
meta(property="og:title", content="MudateYa")
meta(property="og:description", content="")
meta(property="og:image", content="https://estudiohybris.github.io/MudateYa/assets/shared.png")
meta(property="og:image:width", content="400")
meta(property="og:image:height", content="400")
meta(property="og:site_name", content="MudateYa")