mixin section__friends
    section.container
        .row
            .col-12.d-flex.flex-row.mt-8.rounded(style="background-color: #d2eaf9;")
                .w-50.d-flex.justify-content-center
                    img.img-fluid(src=`${hostname}/assets/images/selfie.svg`, alt="MudateYa recomendanos")
                .w-50.text-center.text-md-left.d-flex.flex-column.justify-content-center.align-items-center.px-4
                    h2.text-primary.mb-2 Referí a un amigo y te regalamos el empaque.
                    button.btn.btn-secondary(type="button") Ver más